################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JURIS.Database/JURIS.Database.dbmdl
